include ../common/mixin.jade

-var items = [ {pro:"维修状态",content:"等待维修"},{pro:"报修时间",content:"2017年12月1日 23：57：31"},{pro:"上报人员",content:"钱博康 18086407838"},{pro:"故障类型",content:"错误代码568"}]

+conf
    title 网络报修

body

#network
    +com-title("在线报修","历史记录","index-history.html")

    .weui-cells
        .weui-cell
            .weui-cell__hd
                label.weui-label 姓名
            .weui-cell__bd
                input.weui-input(value="钱博康")
        .weui-cell
            .weui-cell__hd 
                label.weui-label 宿舍
            .weui-cell__bd
                input.weui-input(value="竹枫斋 4舍",id="dorm", readonly="readonly", onclick="getDorm();")
        .weui-cell
            .weui-cell__hd
                label.weui-label 宿舍号
            .weui-cell__bd
                input.weui-input(value="227")        
        .weui-cell
            .weui-cell__hd
                label.weui-label 手机号
            .weui-cell__bd
                input.weui-input(value="18086407838") 
        .weui-cell
            .weui-cell__hd 
                label.weui-label(for="") 常见故障
            .weui-cell__bd
                input.weui-input(value="601，网络无法连接", readonly="readonly", onclick="getFix();")
        .weui-cell
            .weui-cell__bd
                textarea.weui-textarea(placeholder="故障描述", rows="5")

    .weui-btn-area
        a.weui-btn.weui-btn_primary(onclick="success();") 提交


    script.
        var dorm;
        var dorm_num;
        function getDorm(){
            weui.picker([
                { label: '桂檀斋'}, 
                { label: '竹枫斋'},
                { label: '椿萱斋'}, 
                { label: '梅菊斋'}
            ], [
                { label: '1舍'}, 
                { label: '2舍'}, 
                { label: '3舍'},
                { label: '4舍'}
            ], {

                onConfirm: function (result) {
                    console.log(result);
                    dorm=result[0].label;
                    dorm_num=result[1].label;

                    var str = dorm +" "+dorm_num;

                    var dorm_dom = document.getElementById("dorm");
                    dorm_dom.value= str;
                }
            });
        }

        function success(){
            weui.toast('报修成功', 1500);
        }

        function getFix(){
            weui.picker([
                { label: '601，网络无法连接'}, 
                { label: '722，能登QQ，不能上网'},
                { label: '930，可以登录客户端，但没网'}, 
                { label: '935，没啥毛病，就想报一下'},
                { label: '635，没啥毛病，就想报一下'}
            ], 
                {
                onConfirm: function (result) {
                    console.log(result);
                    fix=result[0].label;

                    this.value= fix;
                }
            });
        }        
                
    +footer