include ../common/mixin.jade

doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    +conf("校车查询")
    style(type='text/css').
      * {
      margin: 0px;
      padding: 0px;
      }
      body,
      button,
      input,
      select,
      textarea {
      font: 12px/16px Verdana, Helvetica, Arial, sans-serif;
      }
      p {
      width: 603px;
      padding-top: 3px;
      overflow: hidden;
      }
      .btn {
      width: 142px;
      }
    script(src='http://map.qq.com/api/js?v=2.exp', charset='utf-8')

  body(onload='init()')
  #bus
    .weui-cells__title 切换时间
    .weui-cells
        .weui-cell
            .weui-cell__hd 
                label.weui-lable(for="") 时间
            .weui-cell__bd
                select.weui-select(onclick="week();") 
                    option 周一，周二，周三，周四
                    option 周五
                    option 周六
                    option 周日

    .weui-cells__title 班次列表

    .container
        .card
            .weui-flex#am
                    .weui-flex__item
                      .time 上午
            .weui-flex#pm
                    .weui-flex__item 
                      .time 下午

    .weui-cells__title=校车路线
          
    .weui-cells__title 校车位置

    .weui-cells
      .container
        #container.container(style='width:auto;height:380px')
  
    script(type="text/javascript").
      // 地图函数
      function init(){
        var center=new qq.maps.LatLng(30.438878,114.295439);
        var map=new qq.maps.Map(document.getElementById("container"),{
          center:center,
          zoom:16
        });
        //添加定时器
        setTimeout(function(){
          var marker=new qq.maps.Marker({
            position:center,
            animation:qq.maps.MarkerAnimation.DROP,
            map:map
        });
        //marker.setAnimation(qq.maps.Animation.DROP);
        },2000);
      }


  +footer

  script(type="text/javascript").

      week_select = document.getElementsByTagName("select")[0];
      week_option = week_select.getElementsByTagName("option");

      function busTime() {
        var time_am = document.getElementsByClassName("weui-flex")[0];
        var time_pm = document.getElementsByClassName("weui-flex")[1];

        var item_am_item = time_am.getElementsByClassName("weui-flex__item");
        var item_pm_item = time_pm.getElementsByClassName("weui-flex__item");

        // 数据渲染前清空数据
        while (Boolean(item_am_item[1])) {
          time_am.removeChild(item_am_item[1]);
        }

        while (Boolean(item_pm_item[1])) {
          time_pm.removeChild(item_pm_item[1]);
        }          

        for(var i = 0; i < (time[getWeekNum()].am.length); i++) {
          var para = document.createElement("div");
          para.setAttribute("class","weui-flex__item");

          var node=document.createTextNode(time[getWeekNum()].am[i]);
          para.appendChild(node);
          time_am.appendChild(para);
        }

        for(var i = 0; i < (time[getWeekNum()].pm.length); i++) {
          // 创建Dom
          var para=document.createElement("div");
          // Dom属性
          para.setAttribute("class","weui-flex__item")
          
          var node=document.createTextNode(time[getWeekNum()].pm[i]);
          // 封装Dom        
          para.appendChild(node);
          time_pm.appendChild(para);
        }        
      }  

      // 获取用户选择位置 0-周一-四 1-周五 2- 周六 3-周日 
      function getWeekNum(){
        week_select__value = week_select.selectedIndex;
        week_option[week_select__value] = true;

        return week_select__value;
      }

      function week(){
        getWeekNum();
        busTime();
      }


      // 依据默认时间矫正当前星期
      function defaultWeek(){
        // 获取当前 星期几
        var week_now = new Date().getDay();

        switch (week_now) {
          case 1,2,3,4: 
            week_option[0].selected =true;
            break;
          case 5:
            week_option[1].selected =true;
            break;
          case 6:
            week_option[2].selected =true;
            break;
          case 0:
            week_option[3].selected =true;
            break;
        }
      }

      window.onload = function (){
        //地图函数
        init();
        //根据当前日期确定时间
        defaultWeek();
        //渲染当前数据
        week();
      }      

      week();

  script(type="text/javascript").
      time = {
            "0":{
              "am":["8:30", "10:30"],
              "pm":["12:30", "15:30", "17:30"]
            },
            "1":{
              "am":["8:30", "9:30", "10:30", "11:30"],
              "pm":["12:30", "13:30", "14:30", "15:30", "16:30", "17:30"]
            },
            "2":{
              "am":["8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30"],
              "pm":["12:00", "13:00", "14:00", "15:00", "16:00", "17:00"]
            },
            "3":{
              "am":["8:30", "9:30", "10:30", "11:30"],
              "pm":["13:00", "14:00", "14:00", "15:00", "16:00", "17:00"]
            }                        
          }